
.container{
  margin-left: auto;
  margin-right: auto;
  @include respond-to(lg){
    max-width: 1270px;
  }
  @include respond-to(md){
    max-width: 1000px;
  }
  @include respond-to(sm){
    max-width: 700px;
  }
  @include respond-to(xs){
    max-width: calc(100% - 20px);
  }
}
.container-fluid{
  width: 100%;
  padding:0 30px;
  @include respond-to(xs){
    padding: 0 10px;
  }
}



//Slider top

.slider-top{
  padding: 35px 0;
}

//Arrivals
.arrivals{
  background: $bg-gradient;
  padding-top: 50px;
  padding-bottom: 70px;
  .arrivals-content{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
}


//brands

.brands{
  @extend .arrivals;
  margin-top: 35px;
  .brands-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

//Product Slider


.product-slider{
  margin-top: 35px;
  display: flex;
  background: $bg-gradient;
  @include respond-to(xs){
    flex-direction: column;
  }
  &>div{
    flex: 0 0 50%;
    min-width: 50%;
  }
  .product-slider-container{
    max-width: 50%;
    display: block;
    margin-top: 6%;
    margin-left: 27%;

  }
}


//News

.news{
  background: $bg-gradient;
  padding: 50px 0;
  margin-top: 35px;
  .news-content{
    margin-top: 7px;
    display: flex;
    align-items: stretch;
    @include respond-to(xs){
      flex-wrap: wrap;
    }
  }
}

 //form

.form{
  @extend .news;
  .form-container{
    max-width: 962px;
    margin: 0 auto;
    form{
      display: flex;
      flex-direction: column;
      .full-name{
        margin-bottom: 36px;
        display: flex;
        @include respond-to(xs){
          flex-direction: column;
        }
        input{
          @extend .input;
          flex-basis: 50%;
          & + input{
            margin-left: 29px;
            @include respond-to(xs){
              margin-left: 0;
              margin-top: 36px;
            }
          }
        }
      }
    }
  }
}

//footer

footer{
  background: #141414;
  color: $color-white;
  padding: 48px 0 65px 0;
}
