/*-------------------------------------------------
SMACSS: VARIABLES
-------------------------------------------------*/
/* Colors */
$color-white: #fff;
$color-black: #000;
$color-red: #ff0000;
$color-gray: #f3f3f3;
$color-main-grey: #3f3d3d;
$color-hot-price: #ff0024;
$bg-gradient: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);



$small: 750px;
$medium: 1100px;
$large: 1300px;

/* Font */
$weight-black: 900;
$weight-bold: 700;
$weight-regular: 500;
$weight-light: 400;
