/* -----------------------------------------------------------------------
Version: 0.1

SMACSS [Scalable Modular Architecture for CSS]
Reference: http://smacss.com/

Categorizing:
1. Base  - Defaults elements, attribute selectors, pseudo-class selectors styling [example: body, form, a]
2. Layout  - Divide the page into sections [example: header, footer] [prefix: l-]
3. Modules - Reusable, Modular parts of design [example: sidebar, popup] [prefix: module-]
4. State - How our module or layouts look in particular state [example: expanded, active] [prefix: is-]
5. Theme - Look and feel of subcomponent based on theme [example: dark, light] [prefix: theme-]
6. Pages   - Page specific styles. [prefix: page-]
----------------------------------------------------------------------- */
/*-------------------------------------------------
MASTER: IMPORTING STYLESHEETS
-------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

/*-------------------------------------------------
SMACSS: VARIABLES
-------------------------------------------------*/
/* Colors */
/* Font */
/*
TODO ::
[] Integrate Bourbon to make use of most mixins - http://bourbon.io/docs/
*/
/*-------------------------------------------------
 MIXIN :: CLEARFIX
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: PIXEL TO EM CONVERTOR
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: BORDER RADIUS
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: TRANSITION
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: BOX SHADOW
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: SCALE - TRANSFORM
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: ROTATE - TRANSFORM
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: FONT STYLE
-------------------------------------------------*/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/roboto/black/Roboto-Black-webfont.eot?") format("eot"), url("/fonts/roboto/black/Roboto-Black-webfont.ttf") format("truetype"), url("/fonts/roboto/black/Roboto-Black-webfont.woff") format("woff"), url("/fonts/roboto/black/Roboto-Black-webfont.svg#Roboto") format("svg"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/roboto/bold/Roboto-Bold-webfont.eot?") format("eot"), url("/fonts/roboto/bold/Roboto-Bold-webfont.ttf") format("truetype"), url("/fonts/roboto/bold/Roboto-Bold-webfont.woff") format("woff"), url("/fonts/roboto/bold/Roboto-Bold-webfont.svg#Roboto") format("svg"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/roboto/regular/Roboto-Regular-webfont.eot?") format("eot"), url("/fonts/roboto/regular/Roboto-Regular-webfont.ttf") format("truetype"), url("/fonts/roboto/regular/Roboto-Regular-webfont.woff") format("woff"), url("/fonts/roboto/regular/Roboto-Regular-webfont.svg#Roboto") format("svg"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto/light/Roboto-Light-webfont.eot?") format("eot"), url("/fonts/roboto/light/Roboto-Light-webfont.ttf") format("truetype"), url("/fonts/roboto/light/Roboto-Light-webfont.woff") format("woff"), url("/fonts/roboto/light/Roboto-Light-webfont.svg#Roboto") format("svg"); }

/*-------------------------------------------------
SMACSS: BASE
-------------------------------------------------*/
body {
  background: #f3f3f3;
  color: #000;
  font-family: Roboto;
  font-weight: 500; }

span#test {
  background-image: url(/images/sprite.png);
  background-position: 0px 0px;
  width: 21px;
  height: 21px;
  display: block; }

.button-transparent:hover {
  border: 1px solid #e5e4e2; }

nav a:hover, nav a.active {
  background: #e4e4e4; }

.arrival-card:hover {
  top: 0;
  left: 0;
  z-index: 2;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 40px #e3e3e3; }
  .arrival-card:hover .show-on-hover {
    display: block; }

.button-transparent {
  text-transform: uppercase;
  padding: 8px 20px;
  height: 30px;
  margin-right: 13px;
  border: 1px solid transparent;
  transition: .3s ease; }

.button-black, .button-checkout, .button-buy {
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  background: #000;
  font-weight: 900;
  cursor: pointer; }

.button-checkout {
  padding: 7px 15px;
  font-size: 13px;
  height: 30px; }

.button-buy {
  width: 100%;
  height: 50px;
  transition: .3s ease; }

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 1301px) {
    .container {
      max-width: 1170px; } }
  @media only screen and (min-width: 1001px) and (max-width: 1300px) {
    .container {
      max-width: 900px; } }
  @media only screen and (min-width: 769px) and (max-width: 1000px) {
    .container {
      max-width: 700px; } }
  @media only screen and (max-width: 768px) {
    .container {
      max-width: calc(100% - 20px); } }

.container-fluid {
  width: 100%;
  padding: 0 30px; }
  @media only screen and (max-width: 768px) {
    .container-fluid {
      padding: 0 10px; } }

.header {
  padding-bottom: 25px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%); }

.header-top {
  background: #252525;
  color: #fff;
  font-weight: 400;
  font-size: 12px; }
  .header-top .header-top-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px 0; }
    .header-top .header-top-content .header-top-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header-top .header-top-content .header-top-menu li + li {
        margin-left: 25px; }
    .header-top .header-top-content .phone {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header-top .header-top-content .phone .phone-icon {
        background-image: url(/images/sprite.png);
        background-position: 0px -21px;
        width: 18px;
        height: 18px;
        margin-right: 5px; }
    @media only screen and (max-width: 768px) {
      .header-top .header-top-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }

.header-middle {
  font-weight: 400;
  color: #3f3d3d; }
  .header-middle .header-middle-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0 20px 13px; }
    .header-middle .header-middle-content .logo {
      margin-right: 20px;
      margin-bottom: 20px; }
    @media only screen and (max-width: 768px) {
      .header-middle .header-middle-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .header-middle .header-middle-content .header-middle-content-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      font-size: 13px; }
      .header-middle .header-middle-content .header-middle-content-right .account {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 15px; }
        @media only screen and (max-width: 768px) {
          .header-middle .header-middle-content .header-middle-content-right .account {
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
        .header-middle .header-middle-content .header-middle-content-right .account .account-cart {
          margin: 10px 20px 10px 18px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          @media only screen and (min-width: 769px) and (max-width: 1000px) {
            .header-middle .header-middle-content .header-middle-content-right .account .account-cart {
              margin: 0 10px 0 0; } }
          .header-middle .header-middle-content .header-middle-content-right .account .account-cart .cart {
            background-image: url(/images/sprite.png);
            background-position: 0px 0px;
            width: 21px;
            height: 21px;
            display: inline-block;
            margin-right: 7px; }
      .header-middle .header-middle-content .header-middle-content-right .search {
        width: 100%;
        position: relative; }
        .header-middle .header-middle-content .header-middle-content-right .search input {
          display: block;
          width: 100%;
          border: 1px solid #e5e4e2;
          padding: 10px 40px 10px 15px;
          height: 40px;
          background: transparent; }
        .header-middle .header-middle-content .header-middle-content-right .search .search-icon {
          position: absolute;
          right: 10px;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%);
          background-image: url(/images/sprite.png);
          background-position: -21px 0px;
          width: 21px;
          height: 21px;
          display: inline-block; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  @media only screen and (max-width: 768px) {
    nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  nav a {
    height: 40px;
    font-size: 16px;
    background: #f3f3f3;
    color: #3f3d3d;
    text-transform: uppercase;
    padding: 12px 30px;
    transition: .3s ease; }
    @media only screen and (min-width: 769px) and (max-width: 1000px) {
      nav a {
        padding: 12px 12px;
        font-size: 12px; } }
    @media only screen and (min-width: 1001px) and (max-width: 1300px) {
      nav a {
        padding: 12px 20px; } }

.slider-top {
  padding: 35px 0; }

.arrivals {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
  padding-top: 50px; }
  .arrivals .arrivals-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .arrivals .arrivals-content .arrivals-content-item {
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      position: relative;
      margin: 8px 0; }

header {
  font-weight: 700;
  font-size: 37px;
  color: #1a2631;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: -3px 5px 4px #dedede;
  margin-bottom: 33px; }

.arrival-card {
  padding: 19px 18px;
  transition: .3s ease; }
  .arrival-card img {
    width: 100%;
    display: block;
    height: auto; }
  .arrival-card .card-title {
    font-weight: 900;
    font-size: 14px;
    color: #000;
    line-height: 1.5;
    display: block;
    width: 100%;
    margin-bottom: 3px; }
  .arrival-card .card-price {
    font-weight: 500;
    font-size: 16px; }
  .arrival-card .show-on-hover {
    display: none; }
    .arrival-card .show-on-hover .size {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 10px;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 14px;
      transition: .3s ease; }
      .arrival-card .show-on-hover .size span {
        margin-left: 10px;
        margin-right: 25px; }
      .arrival-card .show-on-hover .size table {
        width: 70%;
        border-collapse: collapse; }
        .arrival-card .show-on-hover .size table tr, .arrival-card .show-on-hover .size table td {
          border: 1px solid #e1e1e1;
          height: 26px; }
        .arrival-card .show-on-hover .size table td {
          text-align: center;
          padding-top: 5px; }

.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .slick-dots li {
    display: inline-block;
    z-index: 3; }
    .slick-dots li + li {
      margin-left: 10px; }
    .slick-dots li button {
      background: #c2c2c2;
      font-size: 0;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      border: none;
      outline: none; }
    .slick-dots li.slick-active button {
      background: #000; }
