
.arrivals-content-item{
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  margin: 8px 0;
  @include respond-to(sm){
    flex-basis: 50%;
  }
  @include respond-to(xs){
    flex-basis: 100%;
  }
}


//arrival-card


.arrival-card{
  padding: 19px 18px;
  transition: .3s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  img{
    width: 100%;
    display: block;
    height: auto;
  }
  .card-title{
    font-weight: $weight-black;
    font-size: 14px;
    color: $color-black;
    line-height: 1.5;
    display: block;
    width: 100%;
    margin-bottom: 3px;
    margin-top: 5px;
  }
  .card-price{
    font-weight: $weight-regular;
    font-size: 16px;
  }
  .old-price{
    font-weight: $weight-regular;
    font-size: 14px;
    color: #b1b1b1;
    position: relative;
  }
  .old-price:after{
    content: '';
    position: absolute;
    border-bottom: 1px solid #b1b1b1;
    width: 129%;
    bottom: 7px;
    left: -3px;
    transform: rotate(165deg);
  }
;
  .new-price{
    @extend .card-price;
    margin-left: 20px;
    color: $color-hot-price;
  }
  .show-on-hover{
    display: none;

    .size{
      display: flex;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 20px;
      font-weight: $weight-regular;
      font-size: 14px;
      transition: .3s ease;
      span{
        margin-left: 10px;
        margin-right: 25px;
      }
      table{
        width: 70%;
        border-collapse: collapse;
        tr, td{
          border: 1px solid #e1e1e1;
          height: 26px;
        }
        td{
          text-align: center;
          padding-top: 5px;
        }
      };
    }
  }
}
