
//product slider


.product-slider-image{
  img{
    display: block;
    width: 100%;
  }
}

.product-slide{
  padding: 10px 33px;
  background: $color-white;
  img{
    width: 100%;
    display: block;
  }
  .product-title{
    font-size: 22px;
    font-weight: $weight-black;
    text-transform: uppercase;
    @include respond-to(sm){
      font-size: 18px;
    }
    @include respond-to(xs){
      font-size: 15px;
    }
  }
  .product-price{
    font-weight: $weight-regular;
    font-size: 28px;
    margin-top: 10px;
    display: inline-block;
    @include respond-to(sm){
      font-size: 22px;
    }
    @include respond-to(xs){
      font-size: 18px;
    }
  }

}


.product-slider-dots{
  margin-top: 13%;
  text-align: center;
  padding-bottom: 5%;
  li{
    display: inline-block;
    button{
      font-size: 0;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      border: none;
      outline: none;
      background: #cacaca;
      padding: 0;
    }
    & + li{
      margin-left: 9%;
    }
    &.slick-active button{
      background: $color-black;
    }
  }
}
